<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cloud.authorizationserver.dao.RoleMapper">


    <select id="queryByUserId" resultMap="RoleMap">

        SELECT DISTINCT r.code,r.name,r.description
        FROM  users_roles_relation urr
        INNER JOIN roles r ON r.id = urr.role_id
        WHERE urr.user_id = #{userId}
    </select>

    <resultMap type="com.cloud.authorizationserver.entity.Role" id="RoleMap">
        <result property="code" column="code"/>
        <result property="name" column="name"/>
        <result property="description" column="description"/>
    </resultMap>

</mapper>